Source: dcraw
Section: graphics
Priority: extra
Maintainer: Steve King <debian@twobit.demon.co.uk>
Build-Depends: debhelper (>= 5.0.0), libjpeg-dev, liblcms1-dev
Standards-Version: 3.7.2.1

Package: dcraw
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Suggests: gphoto2, netpbm
Description: decode raw digital camera images
 This utility converts the native (RAW), format of various digital
 cameras into netpbm portable pixmap (.ppm) image.  Supports the
 following models: Canon, Kodak, Olympus, Nikon, Fuji, Minolta and
 Sigma (see http://www.cybercom.net/~dcoffin/dcraw/ for full list)
 Note: This utility does not read directly from the cameras, only
 the files after they have been downloaded, use gphoto2 for that.

